<html>
  <head>
    <meta charset="utf-8">
    <meta name="generator" content="GitLab Pages">
    <title>PickupNDropoff API</title>
    <link rel='stylesheet' href='./stylesheets/style.css' />
  </head>
  <body>
    <div class="navbar">
      <a href="https://gitlab.com/mabdulha/pnd-cicd">Repository</a>
      <a href="https://gitlab.com/mabdulha/pnd-cicd/pipelines">Pipelines</a>
    </div>

    <h1>PickupNDropoff API</h1>

  </body>
</html>